.row-centralizando{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bag{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bag::after{
    content: " Sacola"
}